<!DOCTYPE html>
<html lang="en">
<%- include("header.ejs") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<body>
    <div class="container">
        <% if (locals.projects) { %>
            <% projects.forEach(project => { %>
                <div class="projcont">
                    <h2 class="projtit">
                        <%= project.name %>
                    </h2>
                    <div class="taskcont">
                            <% tasks.forEach(task => { %>
                                <% if (task.section_id === null) { %>
                                    <% if (task.project_id === project.id) { %>
                                        <div class="taskbar">
                                            <div class="descbar">
                                                <h4>
                                                    <%= task.content %>
                                                </h4>
                                            </div>
                                            <span class="checkboxs">
                                                <a class="checkbox do" href="/complete"><p>✔️</p></a>
                                                <a class="checkbox kill" href="/delete"><p>✖️</p></a> 
                                            </span>
                                        </div>
                                        <div class="subbar">
                                            <% if (task.due !== null) { %>
                                                <% if (task.due.is_recurring === true) { %>
                                                    <span><p class="subtext">reccuring: <%= task.due.string %></p></span>
                                                <% } else {%>
                                                    <span><p class="subtext"> </p></span>
                                                    <% } %>
                                            <% } else {%>
                                                <span><p class="subtext"> </p></span>
                                            <% } %>
                                            <% if (task.due !== null) { %>
                                                <% const dd = new Date(task.due.date) %>
                                                <span><p class="subtext">due: <%= dd.getDate() %>/<%= dd.getMonth()+1 %>/<%= dd.getFullYear() %></p></span>
                                            <% } else {%>
                                                <% const d = new Date(task.created_at) %>
                                                <span><p class="subtext">created: <%= d.getDate() %>/<%= d.getMonth()+1 %>/<%= d.getFullYear() %></p></span>
                                                <% } %>
                                        </div>
                                    <% } %>
                                <% } %>
                            <% }) %>
                            <form id="taskForm" method="post">
                                <input type="text" id="taskContent" name="content" placeholder="Add a task" required>
                                <input type="hidden" name="projId" value="<%= project.id %>">
                                <input id="get" type="submit" value="Add" formaction="/post">
                              </form>
                        <% sections.forEach(section => { %>
                            <% if (section.project_id === project.id) { %>
                                <div class="sectioncont">
                                <h3>
                                    <%= section.name %>
                                </h3>
                                <div class="taskcontsec">
                                    <% tasks.forEach(task => { %>
                                        <% if (task.section_id === null) { %>
                                            <% if (task.project_id === project.id) { %>
                                                <div class="taskbar">
                                                    <div class="descbar">
                                                        <h4>
                                                            <%= task.content %>
                                                        </h4>
                                                    </div>
                                                    <span class="checkboxs">
                                                        <a class="checkbox do" href="/complete"><p>✔️</p></a>
                                                        <a class="checkbox kill" href="/delete"><p>✖️</p></a> 
                                                    </span>
                                                </div>
                                                <div class="subbar">
                                                    <% if (task.due !== null) { %>
                                                        <% if (task.due.is_recurring === true) { %>
                                                            <span><p class="subtext">reccuring: <%= task.due.string %></p></span>
                                                        <% } else {%>
                                                            <span><p class="subtext"> </p></span>
                                                            <% } %>
                                                    <% } else {%>
                                                        <span><p class="subtext"> </p></span>
                                                    <% } %>
                                                    <% if (task.due !== null) { %>
                                                        <% const dd = new Date(task.due.date) %>
                                                        <span><p class="subtext">due: <%= dd.getDate() %>/<%= dd.getMonth()+1 %>/<%= dd.getFullYear() %></p></span>
                                                    <% } else {%>
                                                        <% const d = new Date(task.created_at) %>
                                                        <span><p class="subtext">created: <%= d.getDate() %>/<%= d.getMonth()+1 %>/<%= d.getFullYear() %></p></span>
                                                        <% } %>
                                                </div>
                                            <% } %>
                                        <% } %>
                                    <% }) %>
                                </div>
                                </div>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
    <script>
        // $(document).ready(function(){
        //     $('.taskcont').hide();
        // })
        $('.projtit').click(function() {
            $(this).parent().find('.taskcont').slideToggle();
        })
        $('.sectioncont').click(function() {
            $(this).find('.taskcontsec').slideToggle();
        })
    </script>
</body>
</html>