<!DOCTYPE html>
<html lang="en">
<%- include("header.ejs") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<body>
    <div class="container">
        <% if (locals.projects) { %>
            <% projects.forEach(project => { %>
                <div class="projcont">
                    <h2 class="projtit">
                        <%= project.name %>
                    </h2>
                    <div class="taskcont">
                            <% tasks.forEach(task => { %>
                                <% if (task.section_id === null) { %>
                                    <% if (task.project_id === project.id) { %>
                                        <div class="taskbar">
                                            <div class="descbar">
                                                <h4>
                                                    <%= task.content %>
                                                </h4>
                                            </div>
                                            <span class="checkboxs">
                                                <a class="checkbox do" href="/complete"><p>✔️</p></a>
                                                <a class="checkbox kill" href="/delete"><p>✖️</p></a> 
                                            </span>
                                        </div>
                                    <% } %>
                                <% } %>
                            <% }) %>
                        <% sections.forEach(section => { %>
                            <% if (section.project_id === project.id) { %>
                                <div class="sectioncont">
                                <h3>
                                    <%= section.name %>
                                </h3>
                                <div class="taskcontsec">
                                <% tasks.forEach(task => { %>
                                    <% if (task.section_id === section.id) { %>
                                        <div class="taskbar">
                                            <div class="descbar">
                                                <h4>
                                                    <%= task.content %>
                                                </h4>
                                            </div>
                                            <span class="checkboxs">
                                                <a class="checkbox do" href="/complete"><p>✔️</p></a>
                                                <a class="checkbox kill" href="/delete"><p>✖️</p></a> 
                                            </span>
                                        </div>
                                    <% } %>
                                <% }) %>
                                </div>
                                </div>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
    <script>
        $(document).ready(function(){
            $('.taskcont').hide();
        })
        $('.projtit').click(function() {
            $(this).parent().find('.taskcont').slideToggle();
        })
        $('.sectioncont').click(function() {
            $(this).find('.taskcontsec').slideToggle();
        })
    </script>
</body>
</html>